#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Hardening
export DEB_BUILD_HARDENING=1
export DEB_BUILD_MAINT_OPTIONS=hardening=+all
include /usr/share/hardening-includes/hardening.make
CFLAGS=$(shell dpkg-buildflags --get CFLAGS)
LDFLAGS=$(shell dpkg-buildflags --get LDFLAGS)
CFLAGS+=$(HARDENING_CFLAGS)
LDFLAGS+=$(HARDENING_LDFLAGS)

USE_QR=$(shell if [ -r /usr/include/qrencode.h ]; then echo USE_QRCODE=1; fi)
NAME=ppcoin
#DESTDIR=/usr/src/packages/BUILD/debian/$(NAME)
DESTDIR=debian/$(NAME)
PREFIX=/usr
BINDIR=$(PREFIX)/bin
LIBDIR=$(PREFIX)/lib
SBINDIR=$(PREFIX)/sbin
MANDIR=$(PREFIX)/share/man
DATADIR=$(PREFIX)/share
DOCDIR=$(PREFIX)/share/doc/$(NAME)
SYSCONFDIR=/etc
RCDIR=$(LIBDIR)/systemd/system/
CGIDIR=/src/www/cgi-bin

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp
build-stamp:
	dh_testdir

	# Compile

	patch share/genbuild.sh < ../SOURCES/genbuild.patch
	patch src/version.cpp < ../SOURCES/version_id.patch

	qmake $(USE_QR) USE_DBUS=1 USE_UPNP=1 USE_SSL=1
	make
	strip $(NAME)-qt
	make -C src -f makefile.unix USE_UPNP=1 USE_SSL=1
	strip src/$(NAME)d
	# --- end custom part for compiling

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	make clean || true
	make -C src -f makefile.unix clean
	rm -f src/Makefile
	# --- end custom part for cleaning up

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Add here commands to install the package
	# The DESTDIR Has To Be Exactly  /usr/src/packages/BUILD/debian/<nameOfPackage>
	mkdir -p "$(DESTDIR)$(BINDIR)"
	install -m 0755 $(NAME)-qt "$(DESTDIR)$(BINDIR)"
	install -m 0755 src/$(NAME)d "$(DESTDIR)$(BINDIR)"

	mkdir -p "$(DESTDIR)$(RCDIR)"
	install -m 644 "../SOURCES/$(NAME)d@.service" "$(DESTDIR)$(RCDIR)"
	install -m 644 "../SOURCES/$(NAME)d-tor@.service" "$(DESTDIR)$(RCDIR)"
	install -m 644 "../SOURCES/$(NAME)-qt@.service" "$(DESTDIR)$(RCDIR)"
	install -m 644 "../SOURCES/$(NAME)-qt-tor@.service" "$(DESTDIR)$(RCDIR)"
	mkdir -p "$(DESTDIR)$(DATADIR)/applications"
	install -m 644 "../SOURCES/$(NAME).desktop" "$(DESTDIR)$(DATADIR)/applications"
	mkdir -p "$(DESTDIR)$(DATADIR)/pixmaps"
	install -m 644 src/qt/res/icons/ppcoin.png "$(DESTDIR)$(DATADIR)/pixmaps"
	# --- end custom part for installing

# Build architecture-independent files here.
binary-indep: build install
	# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf
	dh_installdocs COPYING doc/README
#	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installman
	dh_installinfo
#	dh_undocumented
	dh_installchangelogs
	dh_link
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
