#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_INSTALL_EXAMPLES_ppcoind += debian/examples/*
#DEB_INSTALL_MANPAGES_ppcoind += debian/manpages/*

# Hardening
export DEB_BUILD_HARDENING=1
export DEB_BUILD_MAINT_OPTIONS=hardening=+all
CFLAGS=$(shell dpkg-buildflags --get CFLAGS)
LDFLAGS=$(shell dpkg-buildflags --get LDFLAGS)
CFLAGS+=$(HARDENING_CFLAGS)
LDFLAGS+=$(HARDENING_LDFLAGS)

NAME=peercoin
INSTALLNAME=ppcoin
DESTDIR=debian/$(NAME)
PREFIX=/usr
LIBDIR=$(PREFIX)/lib
BINDIR=$(PREFIX)/bin/
DATADIR=$(PREFIX)/share/
RCDIR=$(LIBDIR)/systemd/system/

%:
	dh $@

override_dh_auto_build:
	
	# patches
	patch share/genbuild.sh < SOURCES/genbuild.patch

	$(MAKE) -C src/ -f makefile.unix $(NAME)d USE_UPNP=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f $(NAME)-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake bitcoin-qt.pro USE_QRCODE=1 USE_DBUS=1

override_dh_auto_install:

	mkdir -p "$(DESTDIR)$(BINDIR)"
	install -m 0755 $(NAME)-qt "$(DESTDIR)$(BINDIR)$(INSTALLNAME)-qt"
	install -m 0755 src/$(NAME)d "$(DESTDIR)$(BINDIR)$(INSTALLNAME)d"

	mkdir -p "$(DESTDIR)$(RCDIR)"
	install -m 644 "SOURCES/$(INSTALLNAME)d@.service" "$(DESTDIR)$(RCDIR)"
	install -m 644 "SOURCES/$(INSTALLNAME)d-tor@.service" "$(DESTDIR)$(RCDIR)"
	install -m 644 "SOURCES/$(INSTALLNAME)-qt@.service" "$(DESTDIR)$(RCDIR)"
	install -m 644 "SOURCES/$(INSTALLNAME)-qt-tor@.service" "$(DESTDIR)$(RCDIR)"
	mkdir -p "$(DESTDIR)$(DATADIR)/applications"
	install -m 644 "contrib/debian/peercoin.desktop" "$(DESTDIR)$(DATADIR)/applications/${INSTALLNAME}.desktop"
	mkdir -p "$(DESTDIR)$(DATADIR)/pixmaps"
	install -m 644 src/qt/res/icons/$(NAME).png "$(DESTDIR)$(DATADIR)/pixmaps/$(INSTALLNAME).png"

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_${NAME}
	src/test_${NAME}

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip ${NAME}-qt
	dh_strip src/${NAME}d
