[Desktop Entry]
Encoding=UTF-8
Name=Peershares
Comment=Track share ownership and distribute dividends in an decentralized and automated fashion.
Exec=/usr/bin/peershares
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/peershares.png
MimeType=x-scheme-handler/peershares;
Categories=Application;Network;
