Source: peerbox
Section: python
Priority: optional
Maintainer: Peerchemist, <peerchemist@protonmail.ch>
Build-Depends: debhelper (>= 7),
               python (>= 2.7.9-1),
               dh-python
Standards-Version: 3.9.6
X-Python-Version: >= 2.7

Package: peerbox
Architecture: all
Section: python
Pre-Depends: dpkg (>= 1.16.1), python2.7
Depends: python-requests (>= 2.4.3-1), python-sh (>= 1.09-1), python-peercoinrpc, ppcoin, sudo, tor, avahi-daemon, pcf, libpam-google-authenticator, rng-tools, unattended-upgrades, apt-listchanges
Description: Peerbox control script.
 Peerbox control script, it is used to control and monitor Peerbox installation.
 .
