[Unit]
Conflicts=dropbear.service
Wants=dropbear-key.service

[Socket]
ListenStream=22
Accept=yes

[Install]
WantedBy=sockets.target
Also=dropbear-key.service
