[Unit]
Description=Peercoin daemon - tor
After=network.target
Wants=tor.service
Conflicts=peercoind@%i.service
Conflicts=peercoin-qt@%i.service
Conflicts=peercoin-qt-tor@%i.service

[Service]
User=%i
Group=users
PermissionsStartOnly=true
Type=forking
Restart=always
RestartSec=15
ExecStartPre=/bin/bash -c "/usr/lib/pcf/set_tor"
ExecStartPre=/bin/bash -c "/bin/systemctl set-environment HOSTNAME=$(cat /var/lib/tor/ppcoin-service/hostname)"
ExecStart=/usr/bin/peercoind -daemon -bind=127.0.0.1 -proxy=127.0.0.1:9050 -externalip=${HOSTNAME} -listen
TimeoutStopSec=60s
TimeoutStartSec=2s
## security
PrivateTmp=true
PrivateDevices=true
ProtectSystem=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
