[Unit]
Description=Peercoin-qt
After=network.target
After=graphical.target
Conflicts=ppcoind@%i.service
Conflicts=ppcoind-tor@%i.service
Conflicts=ppcoin-qt-tor@%i.service

[Service]
User=%i
Group=users
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority
Type=simple
Restart=on-failure
RestartSec=15
ExecStart=/usr/bin/ppcoin-qt
## security
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
