[Unit]
Description=Peercoin daemon
After=network.target 
Conflicts=ppcoind-tor@%i.service
Conflicts=ppcoin-qt@%i.service
Conflicts=ppcoin-qt-tor@%i.service

[Service]
User=peerbox
Group=peerbox
Type=simple
Restart=on-failure
RestartSec=15
ExecStart=/usr/bin/ppcoind
## security
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
