[Unit]
Description=PPCoin Daemon
After=network.target
RequiresMountsFor=/var/lib/ppcoind

[Install]
WantedBy=multi-user.target

[Service]
User=ppcoind
Restart=always
RestartSec=15
Type=forking
PIDFile=/run/ppcoind/ppcoind.pid
EnvironmentFile=/etc/conf.d/ppcoind.conf
ExecStart=/usr/bin/ppcoind -daemon \
                           -conf=/etc/peercoin/peercoin.conf \
                           -pid=/run/ppcoind/ppcoind.pid \
                           -datadir=/var/lib/ppcoind \
                           $ARGS

InaccessibleDirectories=/home /boot
ReadOnlyDirectories=/etc
DeviceAllow=/dev/null rw
PrivateTmp=true
