[Unit]
Description=Dropbear SSH Daemon
Wants=dropbear-key.service
After=dropbear-key.service network.target

[Service]
PIDFile=/run/dropbear.pid
#EnviromentFile=-/etc/dropbear/dropbear.conf
ExecStart=/usr/bin/dropbear -F -p 2222
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target

