[Unit]
Description=Nu daemon
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=nud
Restart=always
RestartSec=30
Type=forking
PIDFile=/run/nud/nud.pid
EnvironmentFile=/etc/conf.d/nud.conf
ExecStart=/usr/bin/nud -daemon \
                           -conf=/etc/nu/nu.conf \
                           -pid=/run/nud/nud.pid \
                           -datadir=/var/lib/nud \
                           $ARGS

PrivateTmp=true
PrivateDevices=yes
ProtectSystem=full
ProtectHome=yes
NoNewPrivileges=yes
